<ion-content ion-padding>
<ion-img src="https://img.freepik.com/vetores-premium/recycle-waste-symbol-conjunto-de-logotipo-de-setas-verdes-colecao-de-icone-web_48369-14314.jpg?w=2000"></ion-img>

</ion-content>

<ion-content ion-padding>
  <form action="/tabs/tab2" method="post">
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="mail" item-start></ion-icon>
          E-mail
      </ion-label>
      <ion-input color="secondary" type="text" name="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
            Senha
      </ion-label>
      <ion-input color="secondary" type="password"  name="pass"></ion-input>
    </ion-item>
  </form>

  <br><br>

  <ion-button icon-left size="medium" href="/tabs/tab2" color="success" type="submit" shape="round" expand="full"  tappable>
    <ion-icon name="log-in"></ion-icon>
    Login
  </ion-button>

  <ion-item href="/register">
    <div class="criar-conta">
    <h5><strong>Não possui conta?</strong></h5>
    <h5>Faça agora mesmo</h5>
    </div>
    </ion-item>

  </ion-content>
  